In [2]:
import pandas as pd

In [3]:
res1 = pd.read_csv('../predictions/2019.10.29 - 13:19:02 by rozanecm.csv')
res2 = pd.read_csv('../predictions/2019.10.31 - 20:26:47 by rozanecm.csv')
res3 = pd.read_csv('../predictions/2019.11.01 - 00:32:25 by rozanecm.csv')

In [10]:
df = res1.merge(res2.merge(res3, on='id'))

In [13]:
df.sample(5)

           id        target      target_x      target_y
59977  255748  1.650462e+06  1.793097e+06  1.629768e+06
7031   149103  2.102312e+06  2.097438e+06  1.956118e+06
18118  282545  2.038896e+06  2.145085e+06  2.047965e+06
36846   67739  2.502465e+06  2.622275e+06  2.546857e+06
13163  229588  2.520601e+06  2.514501e+06  2.327814e+06

In [16]:
df['avg_target'] = df.drop('id',axis=1).mean(axis=1)

In [19]:
df.drop(['target','target_x','target_y'], axis=1, inplace=True)

In [20]:
df.rename(columns={'avg_target':'target'}, inplace=True)

In [22]:
df.sample(5)

           id        target
22197  136198  8.748409e+05
54209   10845  5.865954e+06
43168  153796  4.498382e+06
7286   229872  1.954405e+06
20945  284535  6.458744e+06

In [23]:
# To save predictions.
# There must be a directory ../predictions for this to work as expected.
# source: https://gist.github.com/rozanecm/ee8333741db42b10158b3e0aff3f22aa
import time
def _get_filename(my_name, timestamp):
    return "../predictions/" + timestamp + " by " + my_name + ".csv"

def _save_description(authors_name, timestamp, submission_description):
    f = open("../predictions/" + authors_name + ".txt","a")
    f.write(timestamp + ": " + submission_description + '\n')
    f.close()

def save_submission(submission_df, authors_name="rozanecm", description = "no description.", index=False, header=True):
    timestamp = time.strftime("%Y.%m.%d - %H:%M:%S")
    submission_df.to_csv(_get_filename(authors_name, timestamp), index=index, header=header)
    _save_description(authors_name, timestamp, description)

In [24]:
description = "Avg of the best approaches (the ones with score < 600000)"
save_submission(df, description=description)

## train set...

In [ ]:
res1 = pd.read_csv('../predictions/on_train_data/rozanecm_approach_8')
res1 = pd.read_csv('../predictions/on_train_data/rozanecm_approach_8')

***
# Juntemos los 6 mejores modelos ahora!

In [3]:
res1 = pd.read_csv('../predictions/2019.10.29 - 13:19:02 by rozanecm.csv')
res2 = pd.read_csv('../predictions/2019.10.31 - 20:26:47 by rozanecm.csv')
res3 = pd.read_csv('../predictions/2019.11.01 - 00:32:25 by rozanecm.csv')
res4 = pd.read_csv('../predictions/2019.11.03 - 10:46:24 by rozanecm.csv')
res5 = pd.read_csv('../predictions/2019.11.04 - 024622 by fcozza.csv')
res6 = pd.read_csv('../predictions/2019.11.06 - 222605 by fcozza.csv')

In [8]:
df = res1.merge(res2.merge(res3.merge(res4.merge(res5.merge(res6, on='id'), on='id'), on='id'), on='id'), on='id')

In [9]:
df.sample(5)

,id,target_x,target_y,target_x,target_y,target_x,target_y
31966,264578,9.487154e+05,8.393306e+05,9.537092e+05,9.139184e+05,620688.3,963068.25
25276,82522,1.795246e+06,1.803160e+06,1.885342e+06,1.827916e+06,1982221.6,1945428.50
7408,135666,1.585581e+06,1.630466e+06,1.628042e+06,1.614696e+06,1450169.0,1358485.60
30188,192178,5.993261e+06,6.130768e+06,6.257192e+06,6.127074e+06,6101287.0,6241632.50
11904,96514,2.458007e+06,2.345973e+06,2.356237e+06,2.386739e+06,2443793.0,2492146.20

In [10]:
df['avg_target'] = df.drop('id',axis=1).mean(axis=1)

In [11]:
df.drop(['target_x','target_y'], axis=1, inplace=True)

In [12]:
df.rename(columns={'avg_target':'target'}, inplace=True)

In [13]:
df.sample(5)

           id        target
42259   57358  1.423317e+06
49837  230039  9.751838e+05
1058   187155  1.745797e+06
51033  260716  7.918749e+05
6906   246238  2.253459e+06

In [14]:
# To save predictions.
# There must be a directory ../predictions for this to work as expected.
# source: https://gist.github.com/rozanecm/ee8333741db42b10158b3e0aff3f22aa
import time
def _get_filename(my_name, timestamp):
    return "../predictions/" + timestamp + " by " + my_name + ".csv"

def _save_description(authors_name, timestamp, submission_description):
    f = open("../predictions/" + authors_name + ".txt","a")
    f.write(timestamp + ": " + submission_description + '\n')
    f.close()

def save_submission(submission_df, authors_name="rozanecm", description = "no description.", index=False, header=True):
    timestamp = time.strftime("%Y.%m.%d - %H:%M:%S")
    submission_df.to_csv(_get_filename(authors_name, timestamp), index=index, header=header)
    _save_description(authors_name, timestamp, description)

In [15]:
description = "Avg of the 6 best approaches hasta la fecha (the ones with score < 600000)"
save_submission(df, description=description)