In [1]:
import pandas as pd
import numpy as np

In [2]:
# This will allow you to see all column names & rows when you are doing .head(). None of the column name will be truncated.
# source: https://stackoverflow.com/questions/49188960/how-to-show-all-of-columns-name-on-pandas-dataframe

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 10000)

In [3]:
# source: https://gist.github.com/rozanecm/38f2901c592bdffc40726cb0473318cf
# Function which plays a beep of given duration and frequency.
# Useful for when executing things that need a while to finish, to get notified.
import os
def beep(duration = 1, freq = 1500):
    """ play tone of duration in seconds and freq in Hz. """
    os.system('play --no-show-progress --null --channels 1 synth %s sine %f' % (duration, freq))

In [4]:
train = pd.read_csv('../data/train.csv', usecols=['id','fecha'], parse_dates=['fecha']
#                     , nrows=1000
                   )
test = pd.read_csv('../data/test.csv',usecols=['id','fecha'], parse_dates=['fecha']
#                    , nrows=100
                  )

In [5]:
print(train['fecha'].min())
print(test['fecha'].min())
print(train['fecha'].max())
print(test['fecha'].max())

2012-01-01 00:00:00
2012-01-01 00:00:00
2016-12-31 00:00:00
2016-12-31 00:00:00

Ambos sets de datos van del 1.enero.2012 al 31.dic.2016.

In [6]:
cotizaciones = pd.read_csv('../data/USD_MXN Historical Data.csv', parse_dates=['Date'])

In [7]:
cotizaciones.head()

        Date    Price     Open     High      Low Change %
0 2016-12-30  20.7275  20.7392  20.7470  20.5850    0.00%
1 2016-12-29  20.7275  20.7667  20.7722  20.6420   -0.12%
2 2016-12-28  20.7520  20.7622  20.7992  20.6980    0.00%
3 2016-12-27  20.7518  20.6160  20.7837  20.5847    0.57%
4 2016-12-26  20.6337  20.6025  20.6730  20.5830    0.10%

In [8]:
train = train.merge(cotizaciones[['Date','Price']], left_on=['fecha'], right_on=['Date'], how='left', sort=True).drop(['Date'], axis=1)
test = test.merge(cotizaciones[['Date','Price']], left_on=['fecha'], right_on=['Date'], how='left', sort=True).drop(['Date'], axis=1)

In [9]:
train.head()

       id      fecha  Price
0  270716 2012-01-01    NaN
1  216691 2012-01-01    NaN
2  120625 2012-01-01    NaN
3  147802 2012-01-01    NaN
4  299053 2012-01-01    NaN

In [10]:
train['Price'] = train['Price'].fillna(method='bfill').fillna(method='ffill')
test['Price'] = test['Price'].fillna(method='bfill').fillna(method='ffill')

In [11]:
train.head()

       id      fecha  Price
0  270716 2012-01-01  13.91
1  216691 2012-01-01  13.91
2  120625 2012-01-01  13.91
3  147802 2012-01-01  13.91
4  299053 2012-01-01  13.91

In [12]:
train.isna().sum()

id       0
fecha    0
Price    0
dtype: int64

In [13]:
test.isna().sum()

id       0
fecha    0
Price    0
dtype: int64

In [15]:
train.rename(columns={'Price':'cotizacion_dolar'}, inplace=True)
test.rename(columns={'Price':'cotizacion_dolar'}, inplace=True)

In [17]:
print(train.head())
print(test.head())

       id      fecha  cotizacion_dolar
0  270716 2012-01-01             13.91
1  216691 2012-01-01             13.91
2  120625 2012-01-01             13.91
3  147802 2012-01-01             13.91
4  299053 2012-01-01             13.91
       id      fecha  cotizacion_dolar
0  167194 2012-01-01             13.91
1  278734 2012-01-01             13.91
2  115366 2012-01-01             13.91
3  120052 2012-01-01             13.91
4  182711 2012-01-01             13.91

In [18]:
train.drop(['fecha'], axis=1, inplace=True)
test.drop(['fecha'], axis=1, inplace=True)

In [19]:
print(train.head())
print(test.head())

       id  cotizacion_dolar
0  270716             13.91
1  216691             13.91
2  120625             13.91
3  147802             13.91
4  299053             13.91
       id  cotizacion_dolar
0  167194             13.91
1  278734             13.91
2  115366             13.91
3  120052             13.91
4  182711             13.91

In [20]:
train.to_csv('../data/train_cotizaciones.csv', index=False)
test.to_csv('../data/test_cotizaciones.csv', index=False)